body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-image: linear-gradient(to right, black, white);
    color: grey;
}

img {
    display: block;
    width: 100%;
}

.section-center {
    width: 90vw;
    margin: 0 auto;
    max-width: 1170px;
    min-width: 340px;
    padding: 5rem 0;
}

.image {
    margin-bottom: 2rem;
}
img {
    border-radius: 0.5rem;
    object-fit: cover;
    height: 30rem;
}
.tabs {
    background: black;
    color: white;
    border-radius: 0.5rem;
    grid-template-rows: auto 1fr;
}
.button-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.button:nth-child(1) {
    border-top-left-radius: 0.5rem;
}
.button:nth-child(3) {
    border-top-right-radius: 0.5rem;
}
.button {
    padding: 1rem 0;
    border: none;
    font-size: 1rem;
    background: white;
    color: black;
    cursor: pointer;
    transition: all 0.3s linear;
    letter-spacing: 0.25rem;
}
.button:hover:not(.live) {
    background: darkgreen;
    color: white;
}
.tabs-content {
    padding: 2rem 1.5rem;
}
/* hide content */
.content {
    display: none;
}
.button.live {
    background: black;
    color: white;
}
.content.live {
    display: block;
}

@media (min-width: 992px) {
    .img {
        margin-bottom: 0;
    }

    .section-center {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 2rem;
    }
}